/* Use global variables for colors, border etc. */

/* DEFAULTS */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Project starts here */
/* ------------------- */

:root {
    --dark: #17252A;
    --blue: #3AAFA9;
    --dark-blue: #2B7A78;
    --white: #FEFFFF;
    --darker-white: #DEF2F1;
    --border: 2px solid var(--dark-blue);
    --border-radius: 8px;
    --speed: 500ms;
    font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--blue)
}

.container {
    width: 100%;
    height: 100%;
    background-color: var(--blue);
}


.header {
    height: 25vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}


.navbar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100%;
    width: 100%;
}


.searchbar-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.searchbar {
    width: 800px;
    height: 50px;
    border-radius: var(--border-radius);
    outline: none;
    border: none;
    font-size: 2rem;
    background-color: var(--darker-white);
    color: var(--blue)
}


.searchbar-button {
	display: block;
    width: 140px;
    height: 50px;
    border-radius: var(--border-radius);
    outline: none;
    border: none;
    background-color: var(--dark-blue);
    color: var(--darker-white);
    margin-left: 5px;
    transition: var(--speed);
    font-size: 1.5rem;
}

.searchbar-button:hover {
    filter: brightness(120%);
    cursor: pointer;
}


.content-box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
}


.content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    width: 80%;
    height: auto;
}


.user {
	display: block;
    width: 128px;
    height: 128px;
}

.online-icon {
	z-index: 3;
	position: fixed;
	display: block;		
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: 3px solid #3AAFA9;
	background-color: #78f1eb;
	margin: 95px;
	transition: var(--speed);
}

.user_profile_box {
	transition: var(--speed);
}

.user_profile_box:hover {
	filter: brightness(110%);
	cursor: pointer;
}


.user_profile_box img {
	width: 128px;
	height: 128px;
    border-radius: var(--border-radius);
    border: var(--border);
    transition: var(--speed);
}


div.userpage {
	z-index: 10;
	position: fixed;
	display: none;
	background-color: #2B7A78;
	width: 400px;
	height: 600px;
	border-radius: var(--border-radius);
	border: 3px solid #3AAFA9;
	filter: brightness(110%);
	top: 50%;
	left: 50%;
	margin-top: -300px; /* Negative half of height. */
	margin-left: -200px; /* Negative half of width. */
	color: #FEFFFF;
}


.display-block {
	display: block !important;
}


/* Userpage content */
.userpage-content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 6fr 1fr;
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius);
}

.main-content {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-rows: 1fr;
}

.arrow-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow-box img {
	transition: var(--speed);
}

.arrow-box img:hover {
	filter: brightness(110%);
	cursor: pointer;
}

#arrow-box-left {
	grid-column: 1 / 2;
}

.middle-content {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3fr 3fr 1fr;
}

.profile_pic_box {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user_profile_box-userpage {
	display: block;
    width: 164px;
    height: 164px;
}

.user_profile_box-userpage img {
	width: 150px;
	height: 150px;
    border-radius: var(--border-radius);
    border: 2px solid #3AAFA9;
}


.user_basic_info {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.5rem;
}

.username-box span {
	font-size: 3rem;
}

.username-age,
.location-box {
	display: flex;
	flex-direction: row;
}

.username-age img {
	margin-right: 5px;
	margin-top: 5px;
	width: 20px;
	height: 24px;
}

.location-box img {
	margin-right: 5px;
	margin-top: 5px;
	width: 20px;
	height: 20px;
}

.view_more_box {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}


.right-side-content {
	grid-column: 3 / 4;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.close-box {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: var(--speed);
}

.close-box:hover {
	filter: brightness(80%);
	cursor: pointer;
}

#arrow-box-right {
	margin-top: 185px;
}


.social-media-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-media-content a {
	margin-inline: 10px;
}